---
Checks: 'clang-diagnostic-*,
	,clang-analyzer-*,
	,bugprone-*,
	,performance-*,
	,readability-*,
	,modernize-*,
	,-modernize-use-auto,
	,-modernize-redundant-void-arg,
	,-modernize-use-trailing-return-type,
	,-readability-magic-numbers,
	,-readability-named-parameter,
	,-readability-identifier-length,
	,-readability-else-after-return,
	,-readability-uppercase-literal-suffix,
	,-clang-analyzer-cplusplus.InnerPointer,
	,-cplusplus.InnerPointer,
	,-clang-diagnostic-ignored-optimization-argument,
'
