[submodule "3rdparty/magnum"]
	path = 3rdparty/magnum
	url = https://github.com/mosra/magnum.git
[submodule "3rdparty/corrade"]
	path = 3rdparty/corrade
	url = https://github.com/mosra/corrade.git
[submodule "3rdparty/magnum-plugins"]
	path = 3rdparty/magnum-plugins
	url = https://github.com/mosra/magnum-plugins.git
[submodule "magnum-plugins"]
	path = magnum-plugins
	url = https://github.com/mosra/magnum-plugins.git
