[submodule "3rdparty/magnum"]
	path = 3rdparty/magnum
	url = https://github.com/mosra/magnum.git
[submodule "3rdparty/corrade"]
	path = 3rdparty/corrade
	url = https://github.com/mosra/corrade.git
[submodule "3rdparty/magnum-plugins"]
	path = 3rdparty/magnum-plugins
	url = https://github.com/mosra/magnum-plugins.git
[submodule "3rdparty/magnum-integration"]
	path = 3rdparty/magnum-integration
	url = https://github.com/mosra/magnum-integration.git
[submodule "3rdparty/newton-dynamics"]
	path = 3rdparty/newton-dynamics
	url = https://github.com/MADEAPPS/newton-dynamics.git
[submodule "3rdparty/entt"]
	path = 3rdparty/entt
	url = https://github.com/skypjack/entt.git
[submodule "3rdparty/toml11"]
	path = 3rdparty/toml11
	url = https://github.com/ToruNiina/toml11
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "3rdparty/SDL2"]
	path = 3rdparty/SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "3rdparty/longeronpp"]
	path = 3rdparty/longeronpp
	url = https://github.com/Capital-Asterisk/longeronpp.git
[submodule "3rdparty/RmlUi"]
	path = 3rdparty/RmlUi
	url = https://github.com/mikke89/RmlUi
[submodule "3rdparty/freetype"]
	path = 3rdparty/freetype
	url = https://github.com/freetype/freetype
[submodule "3rdparty/JoltPhysics"]
	path = 3rdparty/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
