CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
OSP-MAGNUM.cbp
CMakeSettings.json
out/
.vs/
build/
.vscode/
.cache