name: macOS

on:
  pull_request:
  push:
  release:
    types: published

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        config: [Release, Debug]
        image: [macos-11, macos-12]

    runs-on: ${{ matrix.image }}

    env:
      CMAKE_C_COMPILER_LAUNCHER: ccache
      CMAKE_CXX_COMPILER_LAUNCHER: ccache

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 1
        submodules: recursive

    - uses: hendrikmuhs/ccache-action@v1
      with:
        key: macos-${{ matrix.image }}-${{ matrix.image}}-${{ matrix.config }}

    - name: Configure
      shell: bash
      run: |
        cmake -B build -DCMAKE_BUILD_TYPE=Release

    - name: Compile Dependencies
      shell: bash
      run: |
        cmake --build build --parallel --config ${{ matrix.config }} --target compile-osp-magnum-deps compile-test-deps

    - name: Compile OSP-Magnum
      shell: bash
      run: |
        cmake --build build --parallel --config ${{ matrix.config }} --target osp-magnum

    - name: Compile Unit Tests
      shell: bash
      run: |
        cmake --build build --parallel --config ${{ matrix.config }} --target compile-tests

    # TODO: Why doesn't the "test" target execute tests?
    - name: Run Unit Tests
      shell: bash
      run: |
        ctest --schedule-random --progress --output-on-failure --parallel --no-tests error --build-config ${{ matrix.config }} --test-dir build
